# /lib/systemd/system/linkshortenerapi.service

[Unit]
Description=linkshortenerapi
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/home/deploy/sites/linkshortener-backend/current

ExecStart=/usr/bin/npm run start:production
User=deploy
Group=deploy
UMask=0002

RestartSec=10
Restart=on-failure

StandardOutput=syslog
StandardError=syslog

SyslogIdentifier=linkshortenerapi

[Install]
WantedBy=multi-user.target
